<div id="<%= dom_id entry %>">
  <p style="font-size: 30px;">
    <strong>
    <%= entry.meal_type %>
    </strong>
  </p>

  <p style="font-size: 20px;">
    <strong>Calories:</strong>
    <%= entry.calories %>
  </p>

  <p style="font-size: 20px;">
    <strong>Protein:</strong>
    <%= entry.proteins %>
  </p>

  <p style="font-size: 20px;">
    <strong>Carbohydrates:</strong>
    <%= entry.carbohydrates %>
  </p>

  <p style="font-size: 20px;">
    <strong>Fats:</strong>
    <%= entry.fats %>
  </p>

</div>
